<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Automation Test Report" > <!-- data-provider-thread-count="5" -->
 
  <test name="Automation Test Report">
    <classes>
      <class name="runner.TestRunner"/>
    </classes>
  </test> 
   <!-- Test completed-->
 
  <listeners>
  		<listener class-name="listener.TestListenerImplementation"></listener>
  </listeners>
  

</suite> <!-- Suite -->